<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net45" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="NHtmlUnit" version="2.19.0" targetFramework="net45" />
</packages>